.contents
  .contents__group
    .contents__group__name
      グループ名
    .contents__group__members
      メンバー
    .contents__group__edit
      Edit
  .contents__messages
    = render partial: 'message', collection: @messages
  .form
    = form_for [@group, @message] do |f|
      .form__textarea
        = f.text_field :content, class: 'form__textarea__message', placeholder: 'type a message'
        = f.label :image do
          = fa_icon "image", class: 'image'
          = f.file_field :image, style: "display:none"
      = f.submit 'Send', class: 'form__send'
