.navber
  .navber__private
    .navber__private__name
      = current_user.name
    .navber__private__icon
      = link_to new_group_path do
        = fa_icon "edit", class: 'edit'
      = link_to edit_user_path(current_user) do
        = fa_icon "cog", class: 'cog'
  = render "groups/group"
